#top-image{
	height: 200px;
	background-image: url("../images/banner.jpg");
}
#top-image-logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 150px;
}
#menu{
	margin: 0;
	padding: 0;
}
#menu nav{
	margin-bottom: 0;
}
#homeText, #shopPanel{
	
	margin-top: 20px;
}

#search{
	margin-top: 5px;
	margin-bottom: 3px;
}
#col-left{
	border-right: 1px solid #e7e7e7;
	padding: 10px 0;
	height: 500px;
	overflow-y: scroll;
}

.center-image{
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.nav-pills > li{
	cursor: pointer;
}

.form-group{
	margin: 10px 10px 0 0;
}

.table{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
}

#footer{

	height: 10px;

}