
<div class="row">

	<div class="col-md-2" >
		<input type="search" ng-model="search.nom" placeholder="Recherche" aria-label="Recherche" class="form-control" id="search"/>
		<ul class="nav nav-pills nav-stacked" id="col-left">
			<li data-ng-repeat="object in dataSet.data.carrers  | filter:search as results" data-ng-click="set(object)" data-ng-class="isActive(object)">
				<a data-ng-bind="object.nom"></a>
			</li>
		</ul>
	</div>
	<div class="col-md-10">

		<div class="page-header">
		  <h1>Les Carrières
			<small>
				<span ng-bind="selectedObject.nom"></span>
			</small></h1>
		</div>



		<div data-ng-if="!selectedObject.id" class="alert alert-info">
			Choisissez une armure
		</div>

		<form class="form-horizontal" data-ng-if="selectedObject.id">





		<div class="form-group" data-ng-if="selectedObject.base">
			    <label class="col-sm-3 control-label">Base:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.base"></p>
			    </div>
	 	 </div>
<div class="form-group" data-ng-if="selectedObject.competences.length >0">
			    <label class="col-sm-3 control-label">Caractéristique:</label>
			    <div class="col-sm-9">
			    	<p class="form-control-static">
	<table class="table table-bordered" id="test">
		<thead>
			<tr class="table-header">
				<th title="Capacité de Combat">CC</th>
				<th title="Capacité de tir">CT</th>
				<th title="Force">F</th>
				<th title="Endurance">E</th>
				<th title="Agilité">Ag</th>
				<th title="Intelligence">Int</th>
				<th title="Force Mental">FM</th>
				<th title="Sociabilité">Soc</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> <span data-ng-if="selectedObject.cc">+</span> <span data-ng-bind="selectedObject.cc"></span></td>
				<td> <span data-ng-if="selectedObject.ct">+</span><span data-ng-bind="selectedObject.ct"></span></td>
				<td> <span data-ng-if="selectedObject.f">+</span><span data-ng-bind="selectedObject.f"></span></td>
				<td> <span data-ng-if="selectedObject.e">+</span><span data-ng-bind="selectedObject.e"></span></td>
				<td> <span data-ng-if="selectedObject.ag">+</span><span data-ng-bind="selectedObject.ag"></span></td>
				<td> <span data-ng-if="selectedObject.int">+</span><span data-ng-bind="selectedObject.int"></span></td>
				<td> <span data-ng-if="selectedObject.fm">+</span><span data-ng-bind="selectedObject.fm"></span></td>
				<td> <span data-ng-if="selectedObject.soc">+</span><span data-ng-bind="selectedObject.soc"></span></td>
			</tr>

		</tbody>
		<thead>
			<tr class="table-header">
				<th title="Attaque">A</th>
				<th title="Point de blessure">B</th>
				<th title="Bonus de force">BF</th>
				<th title="Bonus d'endurance">BE</th>
				<th title="Mouvement">M</th>
				<th title="Magie">Mag</th>
				<th title="Point de folie">PF</th>
				<th title="Point de destin">PD</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> <span data-ng-if="selectedObject.a">+</span><span data-ng-bind="selectedObject.a"></span></td>
				<td> <span data-ng-if="selectedObject.b">+</span><span data-ng-bind="selectedObject.b"></span></td>
				<td></td>
				<td></td>
				<td> <span data-ng-if="selectedObject.m">+</span><span data-ng-bind="selectedObject.m"></span></td>
				<td><span data-ng-if="selectedObject.mag">+</span> <span data-ng-bind="selectedObject.mag"></span></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>

      	</p>
    </div>
</div>

			<div class="form-group" data-ng-if="selectedObject.competences.length >0">
			    <label class="col-sm-3 control-label">Competences:</label>
			    <div class="col-sm-9">
			    	<p class="form-control-static">
			      	<p data-ng-repeat="choices in selectedObject.competences">
			      		<span data-ng-repeat="choice in choices">
			      			<span data-ng-bind="dataSet.index[choice].nom"></span>
			      			<span data-ng-hide="$last"> ou </span>
			      		</span>

			      	</p>
			      	</p>
			    </div>
		 	 </div>


			<div class="form-group" data-ng-if="selectedObject.description">
			    <label class="col-sm-3 control-label">Description:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.description"></p>
			    </div>
		 	 </div>


		 	 <div class="form-group" data-ng-if="selectedObject.talents.length >0">
			    <label class="col-sm-3 control-label">Dotations:</label>
			    <div class="col-sm-9">
			    	<p class="form-control-static">
			      	<p data-ng-repeat="choices in selectedObject.objets">
			      		<span data-ng-repeat="choice in choices">
			      			<span data-ng-bind="choice.quantite"> </span>
			      			<span data-ng-bind="dataSet.index[choice.id].nom"></span>
			      			<span data-ng-bind="dataSet.index[choice.qualite]"> </span>
			      			<span data-ng-hide="$last"> ou </span>
			      		</span>

			      	</p>
			      	</p>
			    </div>
		 	 </div>

		 	<div class="form-group" data-ng-if="selectedObject.note">
			    <label class="col-sm-3 control-label">Note:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.note"></p>
			    </div>
		 	 </div>

		 	 <div class="form-group" data-ng-if="selectedObject.source">
			    <label class="col-sm-3 control-label">Source:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="dataSet.index[selectedObject.source].nom"></p>
			    </div>
		 	 </div>

		 	 <div class="form-group" data-ng-if="selectedObject.talents.length >0">
			    <label class="col-sm-3 control-label">Talents:</label>
			    <div class="col-sm-9">
			    	<p class="form-control-static">
			      	<p data-ng-repeat="choices in selectedObject.talents">
			      		<span data-ng-repeat="choice in choices">
			      			<span data-ng-bind="dataSet.index[choice].nom"></span>
			      			<span data-ng-hide="$last"> ou </span>
			      		</span>

			      	</p>
			      	</p>
			    </div>
		 	 </div>





		</form>









	</div>

</div>
