<div class="page-header">
  <h1>Créer un personnage
	<small>
		<span data-ng-bind="selectedObject.nom"></span>
	</small></h1>
</div>

<div data-ng-show="step == 1">	
<div class="panel panel-default">
  	<div class="panel-body">
		<div class="form"> 
		
			<div class="form-group">
				<label>Race: </label>
				<select data-ng-options="race.id as race.nom for race in dataSet.data.races" data-ng-model="selectedRaces" data-ng-change="onChangeRace()"  class="form-control"></select>
			</div>
			
			<div class="form-group">
				<input type="radio" data-ng-model="selectedSexe" value="M" data-ng-change="onChangeSexe()"> Homme
				<input type="radio" data-ng-model="selectedSexe" value="F" data-ng-change="onChangeSexe()"> Femme
			</div>
			
			<div  class="form-group" data-ng-if="selectedRaces">
				<label>Carriere: </label>
				<input type="radio" data-ng-model="selectedCareer" data-ng-value="carrieres[0]" data-ng-change="onChangeCareer(carrieres[0])"> <span data-ng-bind="dataSet.index[carrieres[0]].nom"></span>
				<input type="radio" data-ng-model="selectedCareer" data-ng-value="carrieres[1]" data-ng-change="onChangeCareer(carrieres[1])"> <span data-ng-bind="dataSet.index[carrieres[1]].nom"></span>
			</div>	
		</div>
	</div>
</div>
	
			
			
			
<div data-ng-if="selectedRaces">
	<h4>Profil de personnage</h4>
	<table class="table table-bordered table-condensed table-striped" id="test">
		<thead>
			<tr class="table-header">
				<th></th>
				<th>Capacité de Combat</th>
				<th>Capacité de tir</th>
				<th>Force</th>
				<th>Endurance</th>
				<th>Agilité</th>
				<th>Intelligence</th>
				<th>Force Mental</th>
				<th>Sociabilité</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Personnage</td>
				<td data-ng-bind="characteristics.get('CC')"></td>
				<td data-ng-bind="characteristics.get('CT')"></td>
				<td data-ng-bind="characteristics.get('F')"></td>
				<td data-ng-bind="characteristics.get('E')"></td>
				<td data-ng-bind="characteristics.get('AG')"></td>
				<td data-ng-bind="characteristics.get('INT')"></td>
				<td data-ng-bind="characteristics.get('FM')"></td>
				<td data-ng-bind="characteristics.get('SOC')"></td>
			</tr>
			<tr data-ng-if="misericordeDispo">
				<td>Miséricorde</td>
				<td data-ng-bind="misericordeStat.get('CC')"></td>
				<td data-ng-bind="misericordeStat.get('CT')"></td>
				<td data-ng-bind="misericordeStat.get('F')"></td>
				<td data-ng-bind="misericordeStat.get('E')"></td>
				<td data-ng-bind="misericordeStat.get('AG')"></td>
				<td data-ng-bind="misericordeStat.get('INT')"></td>
				<td data-ng-bind="misericordeStat.get('FM')"></td>
				<td data-ng-bind="misericordeStat.get('SOC')"></td>
			</tr>
			<tr data-ng-if="misericordeDispo"  class="no-hover">
				<td></td>
					<td><a data-ng-if="misericordeStat.get('CC')>characteristics.get('CC')" data-ng-click="demanderMisericorde('CC')">Demander miséricorde </a></td>
					<td><a data-ng-if="misericordeStat.get('CT')>characteristics.get('CT')" data-ng-click="demanderMisericorde('CT')">Demander miséricorde </a></td>
					<td><a data-ng-if="misericordeStat.get('F')>characteristics.get('F')" data-ng-click="demanderMisericorde('F')">Demander miséricorde </a></td>
					<td><a data-ng-if="misericordeStat.get('E')>characteristics.get('E')" data-ng-click="demanderMisericorde('E')">Demander miséricorde </a></td>
					<td><a data-ng-if="misericordeStat.get('AG')>characteristics.get('AG')" data-ng-click="demanderMisericorde('AG')">Demander miséricorde </a></td>
					<td><a data-ng-if="misericordeStat.get('INT')>characteristics.get('INT')" data-ng-click="demanderMisericorde('INT')">Demander miséricorde </a></td>
					<td><a data-ng-if="misericordeStat.get('FM')>characteristics.get('FM')" data-ng-click="demanderMisericorde('FM')">Demander miséricorde </a></td>
					<td><a data-ng-if="misericordeStat.get('SOC')>characteristics.get('SOC')" data-ng-click="demanderMisericorde('SOC')">Demander miséricorde </a></td>	
			</tr>
			
			
		</tbody>
		<thead>
			<tr class="table-header">
				<th></th>
				<th>Attaque</th>
				<th>Point de blessure</th>
				<th>Bonus de force</th>
				<th>Bonus d'endurance</th>
				<th>Mouvement</th>
				<th>Magie</th>
				<th>Point de folie</th>
				<th>Point de destin</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Personnage</td>
				<td data-ng-bind="characteristics.get('A')"></td>
				<td data-ng-bind="characteristics.get('B')"></td>
				<td data-ng-bind="characteristics.get('BF')"></td>
				<td data-ng-bind="characteristics.get('BE')"></td>
				<td data-ng-bind="characteristics.get('M')"></td>
				<td data-ng-bind="characteristics.get('MAG')"></td>
				<td data-ng-bind="characteristics.get('PF')"></td>
				<td data-ng-bind="characteristics.get('PD')"></td>
			</tr>
		</tbody>
	</table>
</div>

<div data-ng-if="selectedRaces">
	<h4>Détails personnels</h4>
	<div class="panel panel-default">
	  	<div class="panel-body">
	  		<div class="row">
				<div class="col-md-6">
					<strong>Nom : </strong><span data-ng-bind="details.nom"></span> <br>
					<strong>Âge :</strong> <span data-ng-bind="details.origine.age"></span> <br>
					<strong>Couleur des yeux :</strong>  <span data-ng-bind="details.trait.yeux"></span> <br>
					<strong>Couleur des cheveux :</strong>  <span data-ng-bind="details.trait.cheveux"></span> <br>
					<strong>Signe astral :</strong>  <span data-ng-bind="details.origine.astral"></span> <br>
				</div>
				<div class="col-md-6">
					<strong>Taille :</strong>  <span data-ng-bind="details.trait.taille"></span> <br>
					<strong>Poids : </strong> <span data-ng-bind="details.trait.poids"></span> <br>
					<strong>Nbre de frères et soeurs :</strong>  <span data-ng-bind="details.origine.famille"></span> <br>
					<strong>Lieu de naissance :</strong>  <span data-ng-bind="details.origine.naissance"></span> <br>
					<strong>Signes distinctifs : </strong> <span data-ng-bind="details.trait.traits"></span> <br>
				</div>
			</div>
	  	</div>
	</div>
</div>


<div data-ng-if="selectedRaces">
	<h4>Talents et compétences</h4>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-md-6">
				<h5 class="text-primary">Compétences raciales </h5><br>
				<span data-ng-repeat="choix in racialCompetencesChoices">
					<span data-ng-repeat="item in choix.choice">
						<input type="radio" data-ng-model="choix.selection" data-ng-value="item"> <span data-ng-bind="dataSet.index[item].nom"></span>
					</span>
					<br><br>
				</span>
				<h5 class="text-primary">Compétences de carrière </h5><br>
				<span data-ng-repeat="choix in carriereCompetencesChoix">
					<span data-ng-repeat="item in choix.choix">
						<input type="radio" data-ng-model="choix.selection" data-ng-value="item"> <span data-ng-bind="dataSet.index[item].nom"></span>
					</span>
					<br><br>
				</span>
			</div>
			<div class="col-md-6">
				<h5 class="text-primary">Talents raciaux </h5><br>
				<span data-ng-repeat="choix in racialTalentsChoices">
					<span data-ng-repeat="item in choix.choice">
						<input type="radio" data-ng-model="choix.selection" data-ng-value="item"> <span data-ng-bind="dataSet.index[item].nom"></span>
					</span>
					<br><br>
				</span>
		
	
				<h5 class="text-primary">Talents  de carrière </h5><br>
				<span data-ng-repeat="choix in carriereTalentsChoix">
					<span data-ng-repeat="item in choix.choix">
						<input type="radio" data-ng-model="choix.selection" data-ng-value="item"> <span data-ng-bind="dataSet.index[item].nom"></span>
					</span>
					<br><br>
				</span>
			</div>
		</div>
	</div>
</div>

<div data-ng-if="selectedRaces">

	<h4>Dotations</h4>

	<div class="panel panel-default">
		<div class="panel-body">
	<span data-ng-repeat="choix in dotations">
		<span data-ng-repeat="item in choix.choix">
			<input type="radio" data-ng-model="choix.selection" data-ng-value="item.id"> <span data-ng-bind="dataSet.index[item.id].nom"></span>
		</span>
		<br><br>
	</span>
	</div></div>
</div>

<div data-ng-if="selectedRaces" class="marginBottom10" >
	<button data-ng-click="valider()" class="btn btn-primary">
		continuer
	</button>
</div>
</div>


<div data-ng-show="step == 2">	
	<h4>Promotion</h4>
	<div class="panel panel-default">
		<div class="panel-body">
			<span data-ng-repeat="item in promotion.choices">
					
					<input type="radio" data-ng-model="promotion.selected" data-ng-value="item" name="promotion"> <span data-ng-bind="dataSet.index[item.id].nom"></span>
		
				<br><br>
			</span>
		</div>
	</div>
	
	
	<button data-ng-click="end()" class="btn btn-primary">
		Terminer
	</button>
</div>
