<div class="page-header">
  <h1>Mon personnage
	<small>
		<span data-ng-bind="character.details.nom"></span>
	</small></h1>
</div>

<table class="table table-bordered table-striped table-condensed" id="fiche">


	<!-- PERSONNAGE ----------------------------------------------------------------------- -->
	<!-- PERSONNAGE ----------------------------------------------------------------------- -->
	<!-- PERSONNAGE ----------------------------------------------------------------------- -->
	<!-- PERSONNAGE ----------------------------------------------------------------------- -->
	<!-- PERSONNAGE ----------------------------------------------------------------------- -->


	<tr>
		<td colspan="12" class="bg-primary">
			Personnage
		</td>
	</tr>

	<tr>
		<td colspan="4">
			Nom:
		</td>
		<td colspan="5">
			<span data-ng-bind="character.details.nom"></span>
		</td>
		<td>
			Nom du joueur:
		</td>
		<td colspan="2">

		</td>


	</tr>
		<tr>
		<td colspan="4">
			Race:
		</td>
		<td colspan="5">
			<span data-ng-bind="dataSet.index[character.details.race].nom"></span>
		</td>
		<td>
			Meneur de jeu:
		</td>
		<td colspan="2">

		</td>


	</tr>
		<tr>
		<td colspan="4">
			Carrière actuelle
		</td>
		<td colspan="5">
			<span data-ng-bind="dataSet.index[character.carriere].nom"></span>
		</td>
		<td>
			Campagne
		</td>
		<td colspan="2">

		</td>


	</tr>
	<tr>
		<td colspan="4">
			Anciennes carrières
		</td>
		<td colspan="5">

			<span data-ng-repeat="carrieres in character.carrieres">
				<span data-ng-bind="dataSet.index[carrieres].nom"></span>
			</span>
		</td>
		<td>
			Année de campagne
		</td>
		<td colspan="2">

		</td>


	</tr>
	<!-- DETAILS PERSO + MOUVEMENT POINT -------------------------------------------------- -->
	<!-- DETAILS PERSO + MOUVEMENT POINT -------------------------------------------------- -->
	<!-- DETAILS PERSO + MOUVEMENT POINT -------------------------------------------------- -->
	<!-- DETAILS PERSO + MOUVEMENT POINT -------------------------------------------------- -->
	<!-- DETAILS PERSO + MOUVEMENT POINT -------------------------------------------------- -->

	<tr>
		<td colspan="9" class="bg-primary">
			Détails personnels
		</td>
		<td colspan="3" class="bg-primary">
			Mouvement de combat
		</td>
	</tr>
	<tr>
		<td colspan="2">
			Age:
		</td>
		<td colspan="2">
			<span data-ng-bind="character.details.origine.age"></span>
		</td>
		<td colspan="2">
			Sexe:
		</td>
		<td colspan="3">
			<span data-ng-bind="character.details.sexe"></span>
		</td>
		<td>
			Mouvement
		</td>
		<td>
			Charge
		</td>
		<td>
			Course
		</td>

	</tr>
	<tr>
		<td colspan="2">
			Couleur des yeux:
		</td>
		<td colspan="2">
			<span data-ng-bind="character.details.trait.yeux"></span>
		</td>
		<td colspan="2">
			Taille:
		</td>
		<td colspan="3">
			<span data-ng-bind="character.details.trait.taille"></span>
		</td>


		<td>
			<span data-ng-bind="character.caractBase.get('M')+character.caractPrise.get('M')"></span>
		</td>
		<td>
			<span data-ng-bind="(character.caractBase.get('M')+character.caractPrise.get('M'))*2"></span>
		</td>
		<td>
			<span data-ng-bind="(character.caractBase.get('M')+character.caractPrise.get('M'))*3"></span>
		</td>

	</tr>
	<tr>
		<td colspan="2">
			Couleur des cheveux:
		</td>
		<td colspan="2">
			<span data-ng-bind="character.details.trait.cheveux"></span>
		</td>
		<td colspan="2">
			Poids
		</td>
		<td colspan="3">
			<span data-ng-bind="character.details.trait.poids"></span>
		</td>
		<td rowspan="2" class="bg-primary">
			Fortune
		</td>
		<td>
			Total
		</td>
		<td>
			Actuel
		</td>

	</tr>
	<tr>
		<td colspan="2">
			Signe astral:
		</td>
		<td colspan="2">
			<span data-ng-bind="character.details.origine.astral"></span>
		</td>
		<td colspan="2">
			Nbre de frères et soeurs :
		</td>
		<td colspan="3">
			<span data-ng-bind="character.details.origine.famille"></span>
		</td>

		<td>
			<span data-ng-bind="character.caractBase.get('PD')"></span>
		</td>
		<td>

		</td>

	</tr>
	<tr>
		<td colspan="4">
			Lieu de naissance :
		</td>
		<td colspan="5">
			<span data-ng-bind="character.details.origine.naissance"></span>
		</td>
		<td rowspan="2" class="bg-primary">
			Blessures
		</td>
		<td>
			Total
		</td>
		<td>
			Actuel
		</td>

	</tr>
		<tr>
		<td colspan="4">
			Signes distinctifs :
		</td>
		<td colspan="5">
			<span data-ng-bind="character.details.trait.traits"></span>
		</td>

		<td>
			<span data-ng-bind="character.caractBase.get('B')"></span>
		</td>
		<td>

		</td>

	</tr>

	<!-- CARACTERISTIQUES POINTS D4ARMURE ------------------------------------------------- -->
	<!-- CARACTERISTIQUES POINTS D4ARMURE ------------------------------------------------- -->
	<!-- CARACTERISTIQUES POINTS D4ARMURE ------------------------------------------------- -->
	<!-- CARACTERISTIQUES POINTS D4ARMURE ------------------------------------------------- -->
	<!-- CARACTERISTIQUES POINTS D4ARMURE ------------------------------------------------- -->

	<tr>
		<td colspan="9" class="bg-primary">
			Profil de personnage
		</td>
		<td colspan="3" class="bg-primary">
			Points d’Armure
		</td>
	</tr>
	<tr>
		<td class="bg-primary">
			Profil principal
		</td>
		<td>
			CC
		</td>
		<td>
			CT
		</td>
		<td>
			F
		</td>
		<td>
			E
		</td>
		<td>
			Ag
		</td>
		<td>
			Int
		</td>
		<td>
			FM
		</td>
		<td>
			Soc
		</td>
		<td>
			Tête
		</td>
		<td>
			Corps
		</td>
		<td>
			Bras droit
		</td>

	</tr>
	<tr>
		<td>
			Base
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('CC')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('CT')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('F')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('E')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('AG')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('INT')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('FM')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('SOC')"></span>
		</td>
		<td>
			<span data-ng-bind="character.armor.head"></span>
		</td>
		<td>
			<span data-ng-bind="character.armor.body"></span>
		</td>
		<td>
			<span data-ng-bind="character.armor.rightArm"></span>
		</td>

	</tr>
		<tr>
		<td>
			Avancé
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('CC')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('CT')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('F')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('E')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('AG')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('INT')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('FM')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('SOC')"></span>
		</td>
		<td>
			01-15
		</td>
		<td>
			56-80
		</td>
		<td>
			6-35
		</td>

	</tr>
		<tr>
		<td>
			Actuel
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('CC')+character.caractPrise.get('CC')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('CT')+character.caractPrise.get('CT')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('F')+character.caractPrise.get('F')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('E')+character.caractPrise.get('E')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('AG')+character.caractPrise.get('AG')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('INT')+character.caractPrise.get('INT')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('FM')+character.caractPrise.get('FM')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('SOC')+character.caractPrise.get('SOC')"></span>
		</td>
		<td>
			Bras gauche
		</td>
		<td>
			Jambe droite
		</td>
		<td>
			Jambe gauche
		</td>

	</tr>
		<tr>
		<td class="bg-primary">
			Profil principal
		</td>
		<td>
			A
		</td>
		<td>
			B
		</td>
		<td>
			BF
		</td>
		<td>
			BE
		</td>
		<td>
			M
		</td>
		<td>
			Mag
		</td>
		<td>
			PF
		</td>
		<td>
			PD
		</td>
		<td>
		    <span data-ng-bind="character.armor.leftArm"></span>
		</td>
		<td>
		    <span data-ng-bind="character.armor.rightLeg"></span>
		</td>
		<td>
			<span data-ng-bind="character.armor.leftLeg"></span>
		</td>

	</tr>
	<tr>
		<td>
			Base
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('A')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('B')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('BF')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('BE')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('M')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('MAG')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('PF')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('PD')"></span>
		</td>
		<td>
			36-55
		</td>
		<td>
			81-90
		</td>
		<td>
			91-00
		</td>

	</tr>
		<tr>
		<td>
			Avancé
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('A')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('B')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('BF')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('BE')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('M')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('MAG')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('PF')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractPrise.get('PD')"></span>
		</td>
		<td rowspan="2" colspan="3">

		</td>

	</tr>
		<tr>
		<td>
			Actuel
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('A')+character.caractPrise.get('A')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('B')+character.caractPrise.get('B')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('BF')+character.caractPrise.get('BF')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('BE')+character.caractPrise.get('BE')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('M')+character.caractPrise.get('M')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('MAG')+character.caractPrise.get('MAG')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('PF')+character.caractPrise.get('PF')"></span>
		</td>
		<td>
			<span data-ng-bind="character.caractBase.get('PD')+character.caractPrise.get('PD')"></span>
		</td>

	</tr>

	<!-- COMPETENCES ---------------------------------------------------------------------- -->
	<!-- COMPETENCES ---------------------------------------------------------------------- -->
	<!-- COMPETENCES ---------------------------------------------------------------------- -->
	<!-- COMPETENCES ---------------------------------------------------------------------- -->
	<!-- COMPETENCES ---------------------------------------------------------------------- -->
	<tr>
		<td colspan="12" class="bg-primary">
			Compétences
		</td>
	</tr>
	<tr>
		<td colspan="6">

		</td>
		<td>
			Car
		</td>
		<td>
			Acquis
		</td>
		<td>
			+10%
		</td>
		<td>
			+20%
		</td>
		<td>
			Bonus
		</td>
		<td>
			Total
		</td>
	</tr>

	<tr data-ng-repeat="skill in skills track by $index">
		<td colspan="6">
			<span data-ng-bind="skill.name"></span>
		</td>
		<td>
			<span data-ng-bind="skill.caract"></span>
		</td>
		<td>
			V
		</td>
		<td>
			<span data-ng-if="skill.bonus > 0">V</span>
		</td>
		<td>
			<span data-ng-if="skill.bonus > 10">V</span>
		</td>

		<td>
			<span data-ng-bind="skill.additionalBonus"></span>
		</td>
		<td>
			<span data-ng-bind="skill.bonus+skill.additionalBonus+character.caractBase.get(skill.caract)+character.caractPrise.get(skill.caract)"></span>
		</td>
	</tr>

	<!-- TALENTS -------------------------------------------------------------------------- -->
	<!-- TALENTS -------------------------------------------------------------------------- -->
	<!-- TALENTS -------------------------------------------------------------------------- -->
	<!-- TALENTS -------------------------------------------------------------------------- -->
	<!-- TALENTS -------------------------------------------------------------------------- -->


	<tr>
		<td colspan="12" class="bg-primary">
			Talents
		</td>
	</tr>
	<tr>
		<td colspan="2">Talents </td>
		<td colspan="10">Description et bonus</td>
	</tr>
	<tr data-ng-repeat="talents in character.talents">
		<td colspan="2"><span data-ng-bind="dataSet.index[talents].nom"></span></td>
		<td colspan="10">
			<span data-ng-bind="dataSet.index[talents].description"></span>
		</td>
	</tr>


  <tr>
    <td colspan="2" class="bg-primary">
      Encombrement max:
    </td>
    <td>
        <span data-ng-bind="character.getMaxLoad()"></span>
    </td>
    <td colspan="2" class="bg-primary">
      Encombrement total:
    </td>
    <td>
        <span data-ng-bind="character.inventory.load"></span>
    </td>
    <td colspan="6"></td>
  </tr>


	<!-- ARMES   -------------------------------------------------------------------------- -->
  <!-- ARMES   -------------------------------------------------------------------------- -->
  <!-- ARMES   -------------------------------------------------------------------------- -->
  <!-- ARMES   -------------------------------------------------------------------------- -->
  <!-- ARMES   -------------------------------------------------------------------------- -->

<tr>
  <td colspan="12" class="bg-primary">
    Armes
  </td>
</tr>
<tr>
  <td colspan="2">Nom </td>
  <td>Dégats </td>
  <td>Encombrement</td>
  <td>Portée</td>
  <td colspan="2">Rechargement</td>
  <td colspan="5">Attributs</td>
</tr>
<tr data-ng-repeat="weapon in character.inventory.weapons">
  <td colspan="2"><span data-ng-bind="weapon.name"></span><span data-ng-bind="dataSet.index[weapon.qualite].nom"></span> </td>
  <td><span data-ng-bind="weapon.degat"></span>  </td>
  <td><span data-ng-bind="weapon.load"></span> </td>
  <td><span data-ng-bind="weapon.portee"></span> </td>
  <td colspan="2"><span data-ng-bind="weapon.recharge"></span> </td>
  <td colspan="5"><span data-ng-repeat="attribut in weapon.attributs"><span data-ng-bind="dataSet.index[attribut].nom"></span></span></td>
</tr>
  <!-- ARMURES -------------------------------------------------------------------------- -->
  <!-- ARMURES -------------------------------------------------------------------------- -->
  <!-- ARMURES -------------------------------------------------------------------------- -->
  <!-- ARMURES -------------------------------------------------------------------------- -->
  <!-- ARMURES -------------------------------------------------------------------------- -->
  <tr>
    <td colspan="12" class="bg-primary">
      Armes
    </td>
  </tr>
  <tr>
    <td colspan="2">Nom </td>
    <td>Pa </td>
    <td>Encombrement</td>
    <td colspan="8">zone</td>
  </tr>
  <tr data-ng-repeat="armor in character.inventory.armors">
    <td colspan="2"><span data-ng-bind="armor.name"></span><span data-ng-bind="dataSet.index[armor.qualite].nom"></span> </td>
    <td><span data-ng-bind="armor.pa"></span>  </td>
    <td><span data-ng-bind="armor.load"></span> </td>
    <td colspan="8"><span data-ng-bind="dataSet.index[armor.area].nom"></span> </td>

  </tr>
  <!-- OBJECTS -------------------------------------------------------------------------- -->
  <!-- OBJECTS -------------------------------------------------------------------------- -->
  <!-- OBJECTS -------------------------------------------------------------------------- -->
  <!-- OBJECTS -------------------------------------------------------------------------- -->
  <!-- OBJECTS -------------------------------------------------------------------------- -->

  <tr>
    <td colspan="12" class="bg-primary">
      Objects
    </td>
  </tr>
  <tr>
    <td colspan="2">Nom </td>
    <td>Qauntitée </td>
    <td>Encombrement</td>
    <td colspan="8"></td>
  </tr>
  <tr data-ng-repeat="object in character.inventory.objects">
    <td colspan="2"><span data-ng-bind="object.name"></span><span data-ng-bind="dataSet.index[armor.qualite].nom"></span> </td>
    <td><span data-ng-bind="object.quantite"></span>  </td>
    <td>
      <span data-ng-if="object.load === '' || object.load ==='-'">-</span>
      <span data-ng-if="object.load !== '' && object.load !=='-'" data-ng-bind="object.load * object.quantite"></span>
    </td>
    <td colspan="8"><span data-ng-bind="dataSet.index[object.id].descr"></span> </td>

  </tr>

  <tr>
    <td class="bg-primary">Argent</td>
    <td> <span data-ng-bind="character.purse.co"></span></td>
    <td>Co</td>
    <td></td>
    <td><span data-ng-bind="character.purse.pa"></span> </td>
    <td>Pa</td>
    <td></td>
    <td><span data-ng-bind="character.purse.sc"></span> </td>
    <td>Sc</td>
    <td colspan="3"></td>
  </tr>
</table>

<button data-ng-click="tableToExcel('fiche','personnage')" class="btn btn-primary">
		Excel
</button>
<br>
