	


<div id="homeText">
	

	
	<p>
		Le Vieux Monde. Un endroit sombre et angoissant, empli de périls et
		déchiré par la guerre. Des fourmillantes cités de l’Empire aux forêts
		hantées par les elfes en passant par les pics abrupts des Montagnes
		du Bord du Monde où les nains luttent contre les gobelins et leurs infâmes
		cousins, une ombre s’étend sur le monde, l’ombre sinistre et corruptrice du
		Chaos. 
		
	</p>
	<p>	
		L’Empire, la plus grande nation du Vieux Monde, s’évertue à empêcher cette
		funeste marée de submerger ses domaines. Mais l’ennemi se trouve aussi au coeur de ses
		frontières. Les adeptes de cultes dépravés cherchent à provoquer sa chute, les impitoyables
		hommes-bêtes rôdent dans les forêts et les infâmes skavens propagent la peste et la
		maladie depuis les tréfonds de leurs tanières souterraines.
	
	</p>
	<p>
		Dans Warhammer, le Jeu de Rôle, vous serez les héros improbables d’aventures
		périlleuses se déroulant dans un monde cruel. Vous vous aventurerez dans les recoins
		les plus sombres de l’Empire et vous combattrez des menaces que d’autres ne peuvent
		ou ne veulent affronter. Vous mourrez probablement seul, abandonné de tous dans un
		bouge sordide et suintant, mais peut-être survivrez-vous aux ignobles mutants, aux
		maladies abominables, à des complots insidieux et aux sombres pouvoirs du Chaos.
		Et peut-être serez-vous alors récompensé par la destinée et entrerez-vous dans la
		légende de Warhammer !
	</p>
	<p>
		Warhammer, le Jeu de Rôle est un jeu complet. Voici tout ce dont vous avez besoin
		pour jouer : le livre, quelques dés et un groupe d’amis !
	</p>
</div>	
