
<div class="row">

	<div class="col-md-2" >
		<input type="search" ng-model="search.nom" placeholder="Recherche" aria-label="Recherche" class="form-control" id="search"/>
		<ul class="nav nav-pills nav-stacked" id="col-left">
			<li data-ng-repeat="object in dataSet.data.magics  | filter:search as results" data-ng-click="set(object)" data-ng-class="isActive(object)">
				<a data-ng-bind="object.nom"></a>
			</li>		
		</ul>
	</div>
	<div class="col-md-10">	
		
		<div class="page-header">
		  <h1>Les Magies
			<small>
				<span ng-bind="selectedObject.nom"></span>
			</small></h1>
		</div>
		

		
		<div data-ng-if="!selectedObject.id" class="alert alert-info">
			Choisissez une magie
		</div>
		
		
		<form class="form-horizontal" data-ng-if="selectedObject.id">
		
			

			<div class="form-group" data-ng-if="selectedObject.description">
			    <label class="col-sm-3 control-label">Description:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.description"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.difficulte">
			    <label class="col-sm-3 control-label">Difficulté du sort:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.difficulte"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.ingredient">
			    <label class="col-sm-3 control-label">Ingrédients :</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" > 
			      	<span class="form-control-static" data-ng-bind="selectedObject.ingredient"></span>
			      	 (+ <span class="form-control-static" data-ng-bind="selectedObject.bonus"></span>)
			      </p>
			      
			    </div>
		 	 </div>
		 	 

		 	 <div class="form-group" data-ng-if="selectedObject.source">
			    <label class="col-sm-3 control-label">Source:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="dataSet.index[selectedObject.source].nom"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.temps">
			    <label class="col-sm-3 control-label">Temps d'incantation:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.temps"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.type">
			    <label class="col-sm-3 control-label">Type de magie:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.type"></p>
			    </div>
		 	 </div>
		 	 
		 	 
		 	
		 	 
		</form>


		
		 
		  

		  
		
		
	</div>

</div>
