<div id="shopPanel">

<div class="page-header">
  <h1>Les achats</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
<div class="form"> 
	
			<div class="form-group">
				<label>Catégorie d'objet: </label>
				<select data-ng-options="type for type in types" data-ng-model="selectedType" data-ng-change="setObjectList()" class="form-control"></select>
			</div>
			<div class="form-group">
				<label>L'objet désiré</label>
				<select data-ng-options="objet as objet.nom for objet in objects" data-ng-model="selectedObject" class="form-control"> </select>
			</div>
			<div class="form-group">
				<label>La qualité souhauitée</label>
				<select data-ng-options="quality as quality.nom for quality in qualities" data-ng-model="selectedQuality" class="form-control"></select>
			</div>
			<div class="form-group">
				<label>La quantité:</label>
				<input type="number" data-ng-model="quantity" data-ng-min="1" min="1" required class="form-control">
			</div>
			<div class="form-group">
				<button class="btn btn-success"data-ng-click="addObject()">Ajouter</button>
				<button class="btn btn-danger"data-ng-click="empty()">Vider</button>
			 </div>		
 </div>
 </div></div>

 

<div data-ng-show="cart.length>0">

<table class="table table-bordered">
	<thead>
		<tr class="table-header">		
			<th>Objets</th>
			<th>Qualité</th>			
			<th>Quantité</th>
			<th>Prix total</th>
			<th>Encombrement total</th>
			<th>Score à faire</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="object in cart track by $index">		
			<td data-ng-bind="object.nom"></td>
			<td data-ng-bind="object.quality.nom"></td>			
			<td data-ng-bind="object.quantity"></td>
			<td data-ng-bind="object.totatlPrice.descr"></td>
			<td data-ng-bind="object.obstruction*object.quantity"></td>
			<td data-ng-bind="requiredTest(object.disponibility,object.quality.id)"></td>
			<td><span data-ng-click="remove(object.nom,object.qualite.id)"><a href="">Retirer</a></span></td>
		</tr>
	</tbody>
	
</table>

<div class="panel panel-default">
  <div class="panel-body">
 <div class="form"> 

		<div class="form-group">
			<label>Nombre d'habitant dans la ville:</label>
			<input type="number" data-ng-model="numberOfResident" data-ng-min="1" min="1" required  class="form-control">
		</div>
		<div class="form-group">
			<label>Valeur de charisma du personnage:</label>
			<input type="number" data-ng-model="charisma" data-ng-min="1" min="1" data-ng-max="99" max="99" required  class="form-control">
		</div>
		<div class="form-group">
			<input type="radio" data-ng-model="gossip" value="SC"> Sans commérage
			<input type="radio" data-ng-model="gossip" value="CO"> Commérage
			<input type="radio" data-ng-model="gossip" value="C1"> Commérage +10%
			<input type="radio" data-ng-model="gossip" value="C2"> Commérage +20%
		</div>
		<div class="form-group">
		<button class="btn btn-primary" data-ng-click="launchDice()">Lancer les dés</button>
		</div>
</div>
 </div></div>
 </div>
 
 
 <div data-ng-show="foundObject.length>0">
 
	 <table class="table table-bordered">
		<thead>
			<tr class="table-header">
				<th colspan="5">Objets trouvés</th>
			</tr>
			<tr class="table-header">		
				<th>Objets</th>
				<th>Qualité</th>			
				<th>Quantité</th>
				<th>Prix total</th>
				<th>Encombrement total</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="object in foundObject track by $index">		
				<td data-ng-bind="object.nom"></td>
				<td data-ng-bind="object.quality.nom"></td>			
				<td data-ng-bind="object.quantity"></td>
				<td data-ng-bind="object.totatlPrice.descr"></td>
				<td data-ng-bind="object.obstruction*object.quantity"></td>
			</tr>
			<tr class="bg-success">
				<td colspan="2">Total:</td>
				<td data-ng-bind="total.numberOfObjects"></td>
				<td data-ng-bind="total.price.descr"></td>
				<td data-ng-bind="total.obstruction"></td>
			</tr>
		</tbody>
		
	</table>
</div>

<div data-ng-if="foundObject.length===0 && launchedDice" class="alert alert-danger">
	Pas d'objets trouvé
</div>

</div>