<div class="page-header">
  <h1>Les Runes</h1>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="form"> 
		
			
			<div class="form-group">
				<label>Type de rune:</label>
				<input type="radio" data-ng-model="runeType" value="TMP"> Temporaire
				<input type="radio" data-ng-model="runeType" value="PER"> Permanente 	
			</div>
			<div class="form-group">
				<label>Difficulté de la rune:</label>
				<input type="number" data-ng-model="difficulty"  class="form-control">
			</div>
			<div class="form-group">
				<label>Activation de la rune:</label>
				<input type="number" data-ng-model="activation"  class="form-control">	
			</div>
			
			
			
			
			<div class="form-group">
				<label>Nombre de points de magie:</label>
				<input type="number" data-ng-model="numberMagicPoint"  class="form-control">
			</div>
			<div class="form-group">
				<label>FM du nain:</label>
				<input type="number" data-ng-model="FMbase"  class="form-control">
			</div>
			<div class="form-group">
				<label>Niveau de création de rune:</label>
				<input type="radio" data-ng-model="FMbonus" value="0"> Acquis 
				<input type="radio" data-ng-model="FMbonus" value="10"> +10%
				<input type="radio" data-ng-model="FMbonus" value="20"> +20% 
			</div>
			
			
			
			<div class="form-group">
				<label>Nombre de runes:</label>
				<input type="number" data-ng-model="numberRune"  class="form-control">
			</div>
			
			
			<div class="form-group">
				<button data-ng-click="compute()" class="btn btn-primary">
					Calculer le temps nécessaire
				</button>
			</div>
		</div>
	</div>
</div>	
<div class="panel panel-default" data-ng-show="permanentTime || temporaryTime">
	<div class="panel-body">
		<div class="form"> 	
						
			<div  data-ng-class="visible('PER')" data-ng-if="permanentTime">
				{{permanentTime.monthNumber}} Mois
				{{permanentTime.weekNumber}} Semaines
				{{permanentTime.dayNumber}} Jours
			</div>
			
			<div data-ng-class="visible('TMP')" data-ng-if="temporaryTime">
				{{temporaryTime.heures}} Heures
				{{temporaryTime.minutes}} Minutes
			</div>
		</div>
	</div>
</div>	