

<div class="row">

	<div class="col-md-2">
		<input type="search" ng-model="search.nom" placeholder="Recherche" aria-label="Recherche" class="form-control" id="search"/>
		<ul class="nav nav-pills nav-stacked" id="col-left">
			<li data-ng-repeat="object in dataSet.data.weapons | filter:search as results" data-ng-click="set(object)" data-ng-class="isActive(object)">
				<a data-ng-bind="object.nom"></a>
			</li>		
		</ul>
	</div>
	<div class="col-md-10">	
		
		<div class="page-header">
		  <h1>Les Armes 
			<small>
				<span ng-bind="selectedObject.nom"></span>
			</small></h1>
		</div>
		

		
		<div data-ng-if="!selectedObject.id" class="alert alert-info">
			Choisissez une armes
		</div>
		
		<form class="form-horizontal" data-ng-if="selectedObject.id">
		
			<div class="form-group" data-ng-if="selectedObject.attributs.length >0">
			    <label class="col-sm-3 control-label">Attributs:</label>
			    <div class="col-sm-9">
			    	<p class="form-control-static">
			      	<span data-ng-repeat="attribut in selectedObject.attributs">
			      		<span data-ng-bind="dataSet.index[attribut].nom"></span>
			    
			      	</span>
			      	</p>
			    </div>
		 	 </div>
			
		 	<div class="form-group" data-ng-if="selectedObject.degat">
			    <label class="col-sm-3 control-label">Dégats:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.degat"></p>
			    </div>
		 	 </div>
			
			<div class="form-group" data-ng-if="selectedObject.description">
			    <label class="col-sm-3 control-label">Description:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.description"></p>
			    </div>
		 	 </div>
		 	 
 			<div class="form-group" data-ng-if="selectedObject.description">
			    <label class="col-sm-3 control-label">Disponobilité:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static"  data-ng-bind="dataSet.index[selectedObject.disponobilite].nom" ></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.encombrement">
			    <label class="col-sm-3 control-label">Encombrement:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.encombrement"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.groupe">
			    <label class="col-sm-3 control-label">Groupe:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.groupe"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.portee">
			    <label class="col-sm-3 control-label">Portée:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.portee"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.prix">
			    <label class="col-sm-3 control-label">Prix:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.prix"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.recharge">
			    <label class="col-sm-3 control-label">Rechargement:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="dataSet.index[selectedObject.recharge].nom"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.type">
			    <label class="col-sm-3 control-label">Type:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="selectedObject.type"></p>
			    </div>
		 	 </div>
		 	 
		 	 <div class="form-group" data-ng-if="selectedObject.source">
			    <label class="col-sm-3 control-label">Source:</label>
			    <div class="col-sm-9">
			      <p class="form-control-static" data-ng-bind="dataSet.index[selectedObject.source].nom"></p>
			    </div>
		 	 </div>
		 	 
		 	 
		</form>


		
		 
		  

		  
		
		
	</div>

</div>
